/CastSpellScreen.class
/DropScreen.class
/EatScreen.class
/EquipScreen.class
/ExamineScreen.class
/FireWeaponScreen.class
/HelpScreen.class
/InventoryBasedScreen.class
/LevelUpScreen.class
/LookScreen.class
/LoseScreen.class
/PlayScreen.class
/QuaffScreen.class
/ReadScreen.class
/ReadSpellScreen.class
/Screen.class
/StartScreen.class
/TargetBasedScreen.class
/ThrowAtScreen.class
/ThrowScreen.class
/WinScreen.class
